Package: hackbox-mimetype-defaults
Version: 0.3.0
Section: admin
Maintainer: Carl Smith <feedback@hacker-haven.com>
Installed-Size: 76
Homepage: hacker-haven.com
Priority: optional
Architecture: all
Depends: desktop-file-utils, exo-utils
Description: Sets the mimetype defaults to work with software installed though HackBoxSetup program.
 Sets the default mimetypes for new users. Modifies the defaults so that programs installed with HackBoxSetup will be used over the defaults.
