
[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
NoDisplay=true
Exec=ffplay %f
Name=ffplay Open
Comment=Light and quick player for audio files
